@import url(htpps://fonts.googleapis.com/css2?);
 
{
margin: 0
padding: 0
box sizin: border box
font familiy
}
body {
display: flex;
justify-content: center;
align-items: center;
min-height: auto;
background-color: rgb(31, 12, 117);


}